/**
 * how we help
 */

.scroll-more h1 {
    margin: .2em 0;
}

section#how-we-help-you {
    padding: 0;
}


/**
 * why us section
 */

.why-us-item {
    overflow: hidden;
    cursor: pointer;
}

.why-us-item > * {
    transition: all .5s;
}

.why-us-item .title {
    padding: 1em 0;
    margin: 0;
    color: #357e7c;
}

.why-us-item .illustration {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.why-us-item .description {
    padding: 1em 4em;
    background: #357e7c;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    line-height: 1.2em;
    /* fallback */
    min-height: 7em;
    /* fallback */
    margin: 0;
    color: #FFFFFF;
}

.why-us-item:hover .title {
    color: #246361;
}

.why-us-item:hover .illustration {
    -webkit-filter: brightness(1.5);
    -moz-filter: brightness(1.5);
    -ms-filter: brightness(1.5);
    filter: brightness(1.5);
}

.why-us-item:hover .description {
    background: #246361;
}

.why-us-modal {
    margin-top: 80px;
}

.why-us-modal .modal-title {
    font-size: 18px;
}

.why-us-modal .modal-body img {
    width: 70%;
}

.why-us-modal .modal-body p {
    margin-top: 15px;
    text-align: justify;
    font-size: 16px;
}

.modal-footer{
    text-align: center;
}

.why-us-modal .modal-footer .btn {
    border-radius: 3px;
    background: #e4ae4d;
    border: 1px solid #e4ae4d;
    color: #FFFFFF;
}

/**
 * feature
 */

.feature-menu h3 {
    margin: 0;
    line-height: 1.8em;
    overflow: hidden;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.feature-menu h3 > .indicator:before {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
}

.feature-menu h3 > .indicator {
    transition: all .5s;
    line-height: 1.8em;
    position: relative;
    color: #fff;
    right: calc(-1.2em);
    opacity: 0;
    float: right;
}

.feature-menu h3:hover {
    font-family: 'opensans-regular';
}

.feature-menu h3.active {
    color: #fff;
    font-family: 'opensans-regular';
}

.feature-menu h3.active > .indicator {
    color: #fff;
    opacity: 1;
    right: -1px;
}

.feature-illustration,
.feature-illustration .screen {
    position: relative;
}

.feature-illustration .illustration {
    position: absolute;
    top: 10px;
    left: 20px;
    width: calc(100% - 40px);
}


/* mobile screen */

@media only screen and (max-width: 47em) {
    .feature-menu {
        display: none;
    }
    .feature-content > div {
        margin: 10px 0;
    }
}


/* tablet-desktop screen */

@media only screen and (min-width: 48em) {
    .feature-menu {
        padding: 0;
        border-right: 1px solid #fff;
    }
    .feature-content-container {
        position: relative;
    }
    .feature-content {
        position: relative;
        overflow: hidden;
        height: 0;
        opacity: 0;
        right: -20px;
        transition: all .5s ease;
    }
    .feature-content.active {
        height: auto;
        right: 0;
        opacity: 1;
    }
}


/**
 * Our team
 */

 #our-team {
    padding-bottom: 50px;
}

#our-team a {
    text-decoration: none;
}

.our-team-heading {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    width: 100%;
    padding:55px 0 15px;
    color: #e4ae4d;
    text-align: center;
}

.team-profile {
    text-align: center;
    margin: 5px 0;
    padding-top: 40px;
    border: 4px solid #e4ae4d;
    border-radius: 6px;
    text-decoration: none;
    background-color: #e4ae4d;
}

.team-profile:hover {
    -webkit-filter: brightness(1.2);
    -moz-filter: brightness(1.2);
    -ms-filter: brightness(1.2);
    filter: brightness(1.2);
    transition: all .5s;
}

.team-profile img {
    width: 65%;
    border: 4px solid #FFF;
    border-radius: 100%;
}

.team-profile h3 {
    color: #e4ae4d;
    font-size: 1.8em;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 1em 0 .4em;
}

.profile-container {
    margin-top: -100px;
    min-height: 270px;
    //border-radius: 6px;
    padding: 80px 20px 0 20px;
    background-color: #FFF;
}

.profile-container p b {
    color: #727272;
}


/**
 * Pricing Table
 */

.pricing-table {
    display: table;
    width: 100%;
    table-layout: fixed;
    box-sizing: border-box;
}

.pricing-table thead th {
    text-align: center;
    font-size: 20px;
    padding: 1em 0;
    margin: 0 1px;
    border-bottom: 1px solid #FFFFFF;
}

.pricing-table tbody td {
    text-align: center;
    font-size: 15px;
    line-height: 1em;
    padding: .3em 0;
}

.pricing-table tbody td:first-child {
    text-align: left;
}

.pricing-table tr:nth-child(even) td {
    background-color: rgba(255, 255, 255, .1);
}

.pricing-table tbody th {
    text-align: left;
    font-size: 20px;
    padding: 1em 0;
}

.pricing-table col:first {
    color: #d51313;
}

.pricing-table td:first-child + td + td,
.pricing-table th:first-child + th + th {
    color: #00D9D9;
}

.pricing-table th:first-child + th + th {
    border-color: #00D9D9;
}

.pricing-table td:first-child + td + td + td,
.pricing-table th:first-child + th + th + th {
    color: #e4ae4d;
}

.pricing-table th:first-child + th + th + th {
    border-color: #e4ae4d;
}


/* mobile screen */

@media only screen and (max-width: 47em) {
    .pricing-table tbody td {
        font-size: 13px;
    }
    .pricing-table tbody th {
        font-size: 15px;
    }
    .pricing-table thead th {
        font-size: 15px;
    }
}


/**
 * free trial form
 */

.maps {
    overflow: hidden;
    width: 100%;
    height: 355px;
    margin-top: -15px;
    border: 1px solid #FFF;
}

.maps #gmap_canvas {
    width: 400px;
    height: 400px;
}

.maps #gmap_canvas img {
    max-width: none!important;
    background: none!important
}

#pricing {
    padding: 70px 0 70px;
}

.pricing-tables {
    padding: 20px;
}

.pricing-tables h1 {
    font-size: 48px;
}

.pricing-tables .plan.first {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pricing-tables .plan.last {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pricing-tables .plan.recommended {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pricing-tables .plan.recommended .head {
    margin-bottom: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.plan {
    box-shadow: 0 2px 2px rgba(10, 10, 10, 0.06);
    min-height: 100px;
    background: #fff;
    border-radius: 4px;
    margin: 20px 0;
    padding-bottom: 25px;
    text-align: center;
}

.plan .head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 12px 16px;
    color: #fff;
}

.plan .head h1,
.plan .head h2,
.plan .head h3 {
    padding: 0;
    margin: 0;
    font-weight: 100;
}

.plan .price {
    border-top: 1px solid #eee;
    margin: 0 auto 15px auto;
    width: 80%;
    color: #535353;
}

.plan .price h3 {
    margin-top: 15px;
    font-size: 26px;
    vertical-align: top;
    line-height: 1;
    font-weight: 700;
}

.plan .price h3 span {
    font-size: 38px;
    vertical-align: top;
    position: relative;
    margin: 6px 0 0 -7px;
    display: inline-block;
}

.plan .price h4 {
    color: #929292;
    font-size: 14px;
}

.plan .btn {
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 500;
}

.plan ul {
    list-style-type: none;
    padding: 20px;
    margin-top: 2px;
}

.plan ul li {
    line-height: 22px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #535353;
    font-weight: 400;
}

.plan ul li a {
    text-decoration: underline;
    color: #e6e9ed;
}

.plan ul li:last-child {
    border-bottom: none;
}

.plan ul strong {
    font-weight: 700;
}

.plan.recommended {
    margin-top: 6px;
    box-shadow: 0 0 22px rgba(10, 10, 10, 0.42);
    position: relative;
    z-index: 99;
    border-radius: 4px;
}

.plan.recommended .head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #357e7c;
}

.plan.recommended .btn {
    margin-bottom: 10px;
}
