section:first-of-type {
    padding: 100px 0;
}

.page header {
    color: #444444;
}

.page header .brand > .brand-image {
    height: 50px;
    width: 50px;
    background-image: url('../../img/logoudata_dark.png');
}

.page header .brand > .brand-caption {
    color: #053753;
}


/* page title */

.page-title {
    text-align: center;
    margin-bottom: 2em;
}

.page-title h2 {
    font-family: 'opensans-regular';
    font-weight: bold;
    color: #357e7c;
}

.page-title h4 {
    font-style: italic;
}


/* FAQ */

.sidenav {
    width: 100%;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.sidenav > li > a {
    display: block;
    width: 190px \9;
    height: 40px;
    line-height: 25px;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}

.sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    background-color: #1d3d66 !important;
    color: #FFF;
}

.sidenav > .active > a > i {
    background-image: none !important;
}


/* Chevrons */

.sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

.sidenav > li > a:hover {
    background-color: #f5f5f5;
}

.sidenav a:hover .icon-chevron-right {
    opacity: .5;
}

.sidenav .active .icon-chevron-right,
.sidenav .active a:hover .icon-chevron-right {
    opacity: 1;
}

.sidenav {
    top: 40px;
}

.sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}

.faq-content {
    padding: 20px 0 20px;
}

.question,
.answer {
    padding-left: 30px;
    border-top: none;
}

.topic-title {
    font-size: 24px;
    padding-left: 15px;
}

.faq-content .panel-title {
    cursor: pointer;
}

.faq-content .panel-title:after {
    font-family: 'Glyphicons Halflings';
    src: url('..assets/fonts/glyphicons-halflings-regular.eot');
    content:"\e114";
    float: right;
}


/* mobile screen */

@media only screen and (max-width: 47em) {}


/* tablet-desktop screen */

@media only screen and (min-width: 48em) {
    .page header .menu > li:hover {
        border-bottom: 2px solid #444444;
    }
}
