section:first-of-type {
    padding: 100px 0;
}

.page header {
    color: #444444;
}
.page header .brand > .brand-image{
    height: 50px;
    width: 50px;
    background-image: url('../../img/logoudata_dark.png');
}
.page header .brand > .brand-caption{
    color: #053753;
}

/* mobile screen */
@media only screen and (max-width: 47em) {
}

/* tablet-desktop screen */
@media only screen and (min-width: 48em) {
    .page header .menu > li:hover {
        border-bottom: 2px solid #444444;
    }
}

/* entries */
.publication-entry {
    border: 1px solid #444444;
    background: #FFFFFF;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 0 0 #357e7c;
    top: 0;
    left: 0;
}
.publication-entry:hover {
    border: 1px solid #357e7c;
    color: #357e7c;
    box-shadow: 5px 5px 0 0 #357e7c;
    top: -2px;
    left: -2px;
    text-decoration: none;
}
.publication-entry .illustration{
    width: 100%;
}
.publication-entry h3 {
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1em;        /* fallback */
    max-height: 2em;       /* fallback */
}
.publication-entry h5 {
    text-align: center;
    font-style: italic;
}

/* pagination */
.publication-pagination {
    text-align: center;
    margin: 2em 0;
    position: relative;
}
.publication-pagination span{
    display: inline-block;
    position: relative;
    padding: 5px 8px;
    border: 1px solid #444444;
    border-left: none;
    cursor: pointer;
    font-size: 15px;
}
.publication-pagination span:first-child{
    border-left:  1px solid #444444;
    border-radius: 3px 0 0 3px;
}
.publication-pagination span:last-child{
    border-radius: 0 3px 3px 0;
}

/* publication */
.publication .illustration{
    width: 100%;
    border: 1px solid #444;
}
.publication .publication-title {
    text-align: center;
    margin-bottom: 15px;
}
.publication .publication-meta {
    margin: 15px 0;
}
.publication .publication-content {
    margin: 15px 0;
}
.publication .publication-title h2{
    color: #357e7c;
}
.publication .publication-title h5{
    font-style: italic;
}
.publication .download-btn {
    margin-top: 15px;
    box-sizing: border-box;
}
.publication a.btn-primary:visited {
    color: #fff;
}
