/**
 * @file animation.css
 * list of preset animation
 */

.animate-forever {
    animation-iteration-count: infinite;
}

.animate-once {
    animation-iteration-count: 1;
}

@keyframes up-and-down {
    0%   {top: 0;}
    50% {top: 10px;}
    100% {top: 0;}
}

@keyframes left-and-right {
    0%   {left: 0;}
    50% {left: 10px;}
    100% {left: 0;}
}

@keyframes right-and-left {
    0%   {right: 0;}
    50% {right: 10px;}
    100% {right: 0;}
}

@keyframes slideTopIn {
    0%   {top: -20px; opacity: 0;}
    80% {top: 5px; opacity: 1;}
    100% {top: 0; opacity: 1;}
}
@keyframes slideDownIn {
    0%   {bottom: -20px; opacity: 0;}
    80% {bottom: 5px; opacity: 1;}
    100% {bottom: 0; opacity: 1;}
}


.up-and-down {
    position: relative;
    animation: up-and-down 1s infinite;
}
