/**
 * Pallete
 *
 * #053753
 * #444444
 * #357e7c
 * #e4ae4d
 * #dbe3e2
 * #FFFFFF
 * #d51313
 */

/**
 * background
 */
.bg-primary {
    background: #053753;
    color: #FFFFFF;
}
.bg-default {
   background: #dbe3e2;
   color: #444444;
}
.bg-vibrant {
   background: #e4ae4d;
   color: #000000;
}
.bg-success {
   background: #357e7c;
   color: #FFFFFF;
}
.bg-warning {
   background: #e4ae4d,;
   color: #444444;
}
.bg-danger {
   background: #d51313;
   color: #FFFFFF;
}
.bg-light {
   background: #dbe3e2;
   color: #444444;
}
.bg-clear {
   background: #FFFFFF;
   color: #444444;
}
.bg-dark {
   background: #444444;
   color: #dbe3e2;
}
.bg-gradient {
    /* Firefox v3.6+ */
    background-image:-moz-linear-gradient(100% 0% -152deg,rgb(53,126,124) 0%,rgb(5,55,83) 100%);
    /* safari v4.0+ and by Chrome v3.0+ */
    background-image:-webkit-gradient(linear,100% 0%,0% 100%,color-stop(0, rgb(53,126,124)),color-stop(1, rgb(5,55,83)));
    /* Chrome v10.0+ and by safari nightly build*/
    background-image:-webkit-linear-gradient(-152deg,rgb(53,126,124) 0%,rgb(5,55,83) 100%);
    /* Opera v11.10+ */
    background-image:-o-linear-gradient(-152deg,rgb(53,126,124) 0%,rgb(5,55,83) 100%);
    /* IE v10+ */
    background-image:-ms-linear-gradient(-152deg,rgb(53,126,124) 0%,rgb(5,55,83) 100%);
    background-image:linear-gradient(242deg,rgb(53,126,124) 0%,rgb(5,55,83) 100%);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff357e7c,endColorstr=#ff053753,GradientType=0)";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff357e7c,endColorstr=#ff053753,GradientType=0);
    color: #FFFFFF;
}

.text-primary { color: #053753; }
.text-default { color: #444444; }
.text-vibrant { color: #e4ae4d; }
.text-success { color: #357e7c; }
.text-warning { color: #e4ae4d; }
.text-danger { color: #d51313; }
.text-light { color: #dbe3e2; }
.text-clear { color: #FFFFFF; }
.text-dark { color: #444444; }
