@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../fonts/Roboto-Medium.ttf') format('truetype');
}

* {
    font-family: 'Roboto-Medium';
}

.header-container {
    padding: 0 50px 0 50px;
}

.header-btn {
    margin-left: 5px;
}

.header-btn a {
    padding: 8px 5px 8px 5px !important;
    font-size: 1vw !important;
}

header {
    background: transparent;
    position: absolute;
    left: 0;
    z-index: 99999;
    top: 0;
    color: #FFFFFF;
    width: 100%;
    padding: 5px 10px 0 10px;
    box-sizing: border-box;
    transition: height .5s;
}

header .brand{
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .brand > .brand-image:before{
    content: ' ';
}
header .brand > .brand-image{
    height: 60px;
    width: 60px;
    display: block;
    background-image: url('../../img/logo-udata-monochrome-light-2.png');
    background-size: contain;
    opacity: 0.9;
    transition: all .5s;
}

header .brand > .brand-caption{
    font-family: 'opensans-regular';
    width: 80px;
    line-height: 1.2em;
    font-size: 13px;
    text-align: left;
    margin-left: 15px;
}

header a,header a:hover,header a:active,header a:visited {
    text-decoration: none;
    color: inherit;
}

header .login-link {
    text-align: right;
    margin-bottom: 10px;
    transition: all .5s;
}

header .menu-link,
header .login-link-mobile {
    position: relative;
    display: inline-block;
    margin-right: .3em;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #FFF;
    display: block;
    box-sizing: border-box;
    line-height: 40px;
    float: right;
    cursor: pointer;
    border-radius: 3px;
}
header .menu-link:hover,
header .login-link-mobile:hover{
    background: #FFF;
    color: #444;
}
header.snapped .menu-link,
header.snapped .login-link-mobile{
    color: #053753;
    border-color: #053753;
}
header.snapped .menu-link:hover,
header.snapped .login-link-mobile:hover{
    background: #FFF;
    color: #FFF;
}

header .menu {
    display: flex;
    float: right;
}
header .menu > li {
    transition: border .5s ease;
}
header .menu > li > a {
    margin: 10px 0;
    text-decoration: none;
    font-size: 1.2vw;
    display: block;
    padding: 10px 25px;
    line-height: 1em;
    transition: font-size .5s ease;
}
header .menu > .promo > a {
    border-radius: 3px;
    background: #e4ae4d;
    border: 1px solid #e4ae4d;
    color: #FFFFFF;
}
header .menu > .promo > a:hover {
    background: transparent;
    color: #e4ae4d;
}

header .menu > .promo1 > a {
    border-radius: 3px;
    background: #3d7e7c;
    border: 1px solid #3d7e7c;
    color: #FFFFFF;
}
header .menu > .promo1 > a:hover {
    background: transparent;
    border: 1px solid #FFF;
    color: #FFF;
}

header.snapped .menu > .promo1 > a:hover {
    background: transparent;
    border: 1px solid #3d7e7c;
    color: #3d7e7c;
}

@keyframes header-snapped {
    0%   {top: -100px;}
    100% {top: 0;}
}

header.snapped {
    animation: header-snapped .5s;
    position: fixed;
    background: rgba(255,255,255,.98);
    color: #444;
    padding: 5px 0 0 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0 3px 10px -2px;
    border-bottom: 1px solid #FFF;
}
header.snapped .brand > .brand-image {
    background-image: url('../../img/logoudata_dark.png');
}
header.snapped .menu > li > a {
    margin: 5px 0;
    padding: 8px 25px;
    font-size: 1.2vw;
}
header.snapped .brand > .brand-image{
    height: 41px;
    width: 40px;
}
header.snapped .brand > .brand-caption{
    color : #053753;
}

/* mobile screen */
@media only screen and (max-width: 47em) {
    header {
        padding: 5px;
    }
    header.snapped {
        padding: 5px;
    }
    header .brand-caption{
        display: none;
    }
    header .menu {
        position: absolute;
        text-align: center;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        top: 68px;
        display: block;
        flex-direction: column;
        background: rgba(255,255,255,0.98);
        box-shadow: rgba(0, 0, 0, 0.5) 0 3px 10px -2px;
        color: #444444;
        height: 0;
        overflow: hidden;
    }
    header.snapped .menu{
        top: 52px;
    }
    header .menu.active {
        display: block;
        height: auto;
    }
    header .menu > li,  header .menu > li.promo:hover{
        color: #444444;
    }
    header .menu > li:hover {
        color: #357e7c;
        background: #EEE;
    }
    header .menu > li.active {
        color: #357e7c;
    }
    header .menu > li.promo:hover {
        background: transparent;
    }
    header .login-link{
        display: none;
    }
}

/* tablet-desktop screen */
@media only screen and (min-width: 48em) {
    header .menu > li, header .menu > li.promo:hover {
        border-bottom: 2px solid transparent;
    }
    header .menu > li:hover {
        border-bottom: 2px solid #FFFFFF;
    }
    header.snapped .menu > li:hover {
        border-bottom: 2px solid #357e7c;
    }
    header .menu > li.active, header .menu > li.active:hover{
        border-bottom: 2px solid #357e7c;
        color: #357e7c;
    }
    header .menu > li.active-top, header .menu > li.active-top:hover{
        border-bottom: 2px solid #FFF;
        color: #FFF
    }
    header .menu > .promo:hover, header.snapped .menu > .promo:hover{
        border-bottom: 2px solid transparent;
    }
    header .menu-link,
    header .login-link-mobile{
        display: none;
    }
}

@media screen and (max-width: 965px) {
    header .menu > li > a {
        padding: 10px 5px;
    }
    header.snapped .menu > li > a {
        padding: 8px 5px;
    }
    .header-container {
        padding: 0 10px 0 10px;
    }
}

@media screen and (min-width: 967px) and (max-width: 1057px) {
    header .menu > li > a {
        padding: 10px 10px;
    }
    header.snapped .menu > li > a {
        padding: 8px 10px;
    }
    .header-container {
        padding: 0 30px 0 30px;
    }
}

@media screen and (max-width: 1190px) {
    header .menu > li > a {
        padding: 10px 20px;
    }
    header.snapped .menu > li > a {
        padding: 8px 20px;
    }
}
