.slide-caption-container {
    height: 100vh;
    position: absolute;
    width: 100%;
}

.slide-title { margin-bottom: .5em; }
.slide-title > span { display: none; }
.slide-title > span.active {
    display: block;
    position: relative;
    animation: slideTopIn .5s;
}

.slide-control-previous, .slide-control-next {
    font-size: 18px;
    cursor: pointer;
    transition: all .5s;
}
.slide-control-previous:hover{
    position: relative;
    animation: right-and-left .5s;
}
.slide-control-next:hover {
    position: relative;
    animation: left-and-right .5s;
}

.slide-caption { line-height: 1.3em; }
.slide-caption > span { display: none; }
.slide-caption > span.active {
    display: block;
    position: relative;
    animation: slideDownIn .5s;
}

.slide-pagination {
    list-style: none;
    margin-top: 25px;
}

.slide-pagination > li {
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    transition: all .3s ease;
    transform: rotate(90deg);
    font-size: 30px;
    line-height: 1em;
}

.slide-pagination > li:before {
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f487";
}

.slide-pagination > li.active{
    transform: rotate(270deg);
}

.slide-pagination > li.active{
    color: #e4ae4d;
}

.slide-image-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    overflow: hidden;
}

.slide-image-container > img {
    display: none;
    position: absolute;
}

@keyframes slowMo {
    0%   {top: 0;}
    50%   {top: -40px;}
    100% {top: 0;}
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    25% {opacity: .1}
    100% {opacity: .3}
}

.slide-image-container > img.active {
    display: block;
    animation: fadeIn 3s ease-out, slowMo 20s infinite;
    opacity: .3;
}

/* mobile screen */
@media only screen and (max-width: 47em) {
    .slide-image-container > img {
        height: 100vh;
        margin-left: -30%;
    }
}

/* tablet-desktop screen */
@media only screen and (min-width: 48em) {
    .slide-image-container > img {
        width: 100%;
    }
}
