/* typography */
body {
    font-family: 'opensans-regular';
}
h1 {
    font-family: 'panton-light-italic';
    margin-bottom: 1em;
}
h2,h3 {
    font-family: 'opensans-light';
    margin-bottom: .8em;
}
h1,h2 { font-weight: lighter;}
h3,h4,h5 {
    font-weight: normal;
    margin-bottom: .5em;
}
p {
    line-height: 1.2em;
    margin-bottom: 1em;
}
a, a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover, a:active{
    color: inherit;
    text-decoration: underline;
}

/* mobile screen */
@media only screen and (max-width: 47em) {
    body { font-size: 11px; }
    h1 {
        font-size: 30px;
        letter-spacing:2pt;
    }
    h2 { font-size:20px; }
    h3 { font-size: 15px; }
    h4 { font-size: 13px; }
    h5 { font-size: 11px; }
    h6 { font-size: 9px; }
    p { font-size: 11px; }
}

/* tablet-desktop screen */
@media only screen and (min-width: 48em) {
    body { font-size: 13px; }
    h1 {
        font-size: 50px;
        letter-spacing:6pt;
    }
    h2 { font-size:30px; }
    h3 { font-size: 20px; }
    h4 { font-size: 15px; }
    h5 { font-size: 13px; }
    h6 { font-size: 11px; }
    p { font-size: 13px; }
}

hr {
    border: none;
    border-bottom: 1px solid #BBB;
}

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
